.container {
  min-width: 250px;
  margin: 0 20px 0 0;
  padding: 10px 0;
  border: 1px solid #808080;
  border-radius: 10px;
  background-color: #FFFFFF;
}

.icon {
  position: relative;
  top: 5px;
  margin: 0 4px 0 0;
}

.title {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px 0;
  font-weight: 600;
  font-size: 1.25rem;
}

.linksContainer {
  display:flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.link {
  margin: 5px 0;
  color: #000000;
  text-decoration: none;
  transition: font-weight 0.15s ease-in-out;
}

.link:hover {
  font-weight: 700;
}

.link:active {
  font-weight: 400;
  transition: none;
}

@media screen and (max-width: 600px) {
  .container {
    width: 90%;
    margin: 0 0 15px 0;
    padding: 0 20px;
  }

  .icon {
    width: 20px;
    height: 20px;
  }

  .title {
    font-size: 1.10rem;
  }

  .linksContainer {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
  }

  .link {
    margin: 5px 10px;
    font-size: 0.90rem;
  }
}