.container {
  margin: 15px 0;
}

.button {
  width: 150px;
  height: 35px;
  margin: 0 15px;
  font-family: Poppins;
  font-size: 1rem;
  font-weight: 600;
  background-color: #FFFFFF;
  border: 1px solid #808080;
  border-radius: 50px;
}

.button:hover {
  cursor: pointer;
  color: #FFFFFF;
  background-color: #000000;
  transition: background-color linear 0.20s, color linear 0.20s;
}

.button:active {
  color: #000000;
  background-color: #FFFFFF;
  transition: none;
}