.container {
  width: 80%;
  display: flex;
  justify-content: space-evenly;
  margin: 15px 0 10px 0;
}

.button {
  width: 40%;
  height: 35px;
  font-size: 16px;
  font-weight: 700;
  background-color: #FFFFFF;
  border: 1px solid black;
  border-radius: 5px;
}

.button:hover {
  cursor: pointer;
  color: #FFFFFF;
  background-color: #000000;
  transition: background-color linear 0.20s, color linear 0.20s;
}

.button:active {
  color: #000000;
  background-color: #FFFFFF;
}

.errorMessage {
  margin: 0;
  font-size: 16px;
  font-weight: 700;
  color: #eb1c1c;
  text-align: center;
}