.container {
  margin: 15px 0;
}

.button {
  width: 150px;
  height: 35px;
  margin: 0 15px;
  font-family: Poppins;
  font-size: 1rem;
  font-weight: 600;
  background-color: #FFFFFF;
  border: 1px solid #808080;
  border-radius: 50px;
}

.button:hover {
  cursor: pointer;
  color: #FFFFFF;
  background-color: #000000;
  transition: background-color linear 0.20s, color linear 0.20s;
}

.button:active {
  color: #000000;
  background-color: #FFFFFF;
  transition: none;
}

@media screen and (max-width: 780px) {
  .container {
    margin: 10px 0;
  }

  .button {
    width: 120px;
    margin: 0 5px;
    font-size: 0.90rem;
  }
}

@media screen and (max-width: 350px) {
  .container {
    margin: 5px 0;
  }

  .button {
    width: 90px;
  }
}