.container {
  border: 1px solid black;
  border-radius: 10px;
  padding: 20px;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.errorMessage {
  font-size: 18px;
  font-weight: 700;
}