.container {
  width: 100%;
  max-width: 1000px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  border: 1px solid #808080;
  border-radius: 10px;
  background-color: #FFFFFF;
}

.title {
  margin: 5px 0;
  font-weight: 600;
}

.dataContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
}

.image {
  width: 200px;
  height: 200px;
  margin: 0 20px 0 0;
  border-radius: 10px;
}

.data {
  margin: 10px 0;
}

.icon {
  position: relative;
  top: 5px;
  margin: 0 4px 0 0;
}

@media screen and (max-width: 870px) {
  .dataContainer {
    flex-direction: column;
  }
}

@media screen and (max-width: 640px) {
  .title {
    font-size: 1.25rem;
  }

  .dataContainer {
    margin: 10px 0 0 0;
  }
  
  .image {
    width: 150px;
    height: 150px;
    margin: 0 0 10px 0;
  }
  
  .data {
    margin: 10px 0;
    font-size: 0.90rem;
  }
  
  .icon {
    width: 20px;
    height: 20px;
    position: relative;
    top: 5px;
    margin: 0 3px 0 0;
  }
}

@media screen and (max-width: 600px) {
  .container {
    width: 95%;
    padding: 10px;
  }
}