.container {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  text-align: center;
}

.data {}

.linksContainer {
  margin: 16px;
}

.link {
  color: #000000;
  text-decoration: none;
  margin: 10px;
}

.link:hover {
  font-weight: 700;
}