.container {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.linkContainer {
  width: 100%;
  margin: 10px 0;
  border-bottom: 1px dashed #808080;
}

.linkContainer:last-child {
  border-bottom: none;
  margin: 10px 0 0 0;
}

.link {
  font-size: 1.10rem;
  font-weight: 400;
  color: #000000;
  text-decoration: underline;
  transition: font-weight 0.15s ease-in-out;
}

.link:hover {
  font-weight: 700;
}

.link:active {
  font-weight: 400;
  transition: none;
}

.detailsContainer {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.detailsContainer p {
  margin: 10px 0;
}

.emptyMessage {
  margin: 40px 0;
  font-style: italic;
}

.icon {
  position: relative;
  top: 5px;
  margin: 0 5px 0 0;
}

@media screen and (max-width: 800px) {
  .container {
    width: 95%;
  }

  .link {
    font-size: 1rem;
  }

  .detailsContainer p {
    margin: 10px 5px;
    font-size: 0.90rem;
  }

  .emptyMessage {
    font-size: 0.90rem;
  }

  .icon {
    width: 20px;
    height: 20px;
    top: 3px;
    margin: 0 3px 0 0;
  }
}