.container {
  width: 80%;
  max-width: 1000px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  border: 1px solid #808080;
  border-radius: 10px;
  background-color: #FFFFFF;
}

.title {
  margin: 15px 0 10px 0;
  font-weight: 600;
}

.message {
  margin: 10px 0;
}

@media screen and (max-width: 600px) {
  .title {
    margin: 10px;
    font-size: 1.25rem;
  }

  .message {
    font-size: 0.90rem;
    text-align: center;
  }
}