.container {
  width: 80%;
  max-width: 1000px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  border: 1px solid #808080;
  border-radius: 10px;
  background-color: #FFFFFF;
}

.title {
  margin: 15px 0 10px 0;
  font-weight: 600;
}

.message {
  margin: 10px 0;
}