.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.buttonsContainer {
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button {
  width: 30%;
  max-width: 150px;
  height: 35px;
  margin: 10px 20px;
  font-family: Poppins, sans-serif;
  font-size: 1rem;
  font-weight: 600;
  background-color: #FFFFFF;
  border: 1px solid #808080;
  border-radius: 50px;
}

.button:hover {
  cursor: pointer;
  color: #FFFFFF;
  background-color: #000000;
  transition: background-color linear 0.20s, color linear 0.20s;
}

.button:active {
  color: #000000;
  background-color: #FFFFFF;
  transition: none;
}

.message {
  margin: 5px 0;
  text-align: center;
  font-style: italic;
}

.message:first-of-type {
  margin: 15px 0 5px 0;
}

.confirmationMessage {
  margin: 10px 0;
  font-weight: 700;
}

.errorMessage {
  margin: 10px 0;
  font-weight: 600;
  text-align: center;
}

.icon {
  position: relative;
  top: 5px;
  margin: 0 4px 0 0;
}