.container {
  width: 90%;
  display: flex;
  flex-direction: column;
  margin: 10px 0;
}

.emptyMessage {
  text-align: center;
  margin: 20px 0;
}

.icon {
  position: relative;
  top: 5px;
  margin: 0 4px 0 0;
}

.total {
  text-align: right;
  margin: 10px 0 0 0;
}

.shipping {
  text-align: right;
  margin: 0;
}

@media screen and (max-width: 730px) {
  .container {
    width: 100%;
  }

  .emptyMessage {
    font-size: 0.90rem;
  }

  .total {
    font-size: 0.90rem;
  }

  .shipping {
    font-size: 0.90rem;
  }

  .icon {
    width: 20px;
    height: 20px;
  }
}