.container {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px 0;
}

.title {
  margin: 5px 0;
  font-weight: 600;
}

.icon {
  position: relative;
  top: 5px;
  margin: 0 4px 0 0;
}

.form {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
}

.label {
  font-weight: 400;
  margin-bottom: 5px;
  align-self: flex-start;
}

.labelDescription {
  font-size: 0.875rem;
  font-weight: 400;
}

.input {
  width: 100%;
  height: 25px;
  margin-bottom: 15px;
  font-family: Poppins, sans-serif;
  font-size: 0.95rem;
  padding: 2px 5px;
  border: 1px solid #808080;
  border-radius: 5px;
}

.button {
  width: 150px;
  height: 35px;
  margin: 10px 0;
  font-family: Poppins, sans-serif;
  font-size: 1rem;
  font-weight: 600;
  color: #000000;
  background-color: #FFFFFF;
  border: 1px solid #808080;
  border-radius: 50px;
}

.button:hover {
  cursor: pointer;
  color: #FFFFFF;
  background-color: #000000;
  transition: background-color linear 0.20s, color linear 0.20s;
}

.button:active {
  color: #000000;
  background-color: #FFFFFF;
  transition: none;
}

.errorMessage {
  margin: 10px 0;
  font-weight: 600;
  color: red;
  text-align: center;
}

@media screen and (max-width: 600px) {
  .container {
    width: 95%;
  }

  .title {
    font-size: 1.10rem;
  }

  .form {
    width: 90%;
    margin: 10px 15px 15px 15px;
  }
  
  .icon {
    width: 20px;
    height: 20px;
    margin: 0 3px 0 0;
  }
  
  .label {
    font-size: 0.90rem;
  }
  
  .labelDescription {
    font-size: 0.80rem;
  }
  
  .input {
    margin-bottom: 10px;
    font-size: 0.90rem;
  }
  
  .button {
    width: 120px;
    height: 35px;
    font-size: 0.90rem;
  }
  
  .errorMessage {
    margin: 5px 0;
    font-size: 0.90rem;
  }
}