.form {
  width: 100%;
  max-width: 40%;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  margin: 0 10px 0 0;
  border: 1px solid #808080;
  border-radius: 8px;
}

.label {
  height: 36px;
  display: flex;
  align-items: center;
  margin: 0 0 0 5px;
  border-radius: 8px;
}

.searchIcon {
  width: 24px;
  height: 24px;
}

.searchIcon:hover {
  cursor: text;
}

.input {
  width: 100%;
  height: 36px;
  font-family: Poppins, sans-serif;
  font-size: 1.0rem;
  border: none;
  border-radius: 8px;
  padding: 1px 5px;
}

.input:hover {
  background-color: #FFFFFF;
  border: none;
}

.input:focus-visible {
  background-color: #FFFFFF;
  border: none;
  outline: none;
}

.button {
  background-color: #FFFFFF;
  border: none;
  border-radius: 8px;
  padding: 0 5px 0 0;
}

.button:hover {
  cursor: pointer;
}

.icon {
  width: 24px;
  height: 24px;
}

@media screen and (max-width: 600px) {
  .form {
    max-width: 100%;
    margin: 5px 10px;
    padding: 0;
  }

  .label {
    height: 25px;
  }

  .searchIcon {
    width: 20px;
    height: 20px;
  }

  .input {
    height: 25px;
    font-size: 0.90rem;
  }

  .icon {
    width: 20px;
    height: 20px;
  }
}