.header {
  box-sizing: border-box;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 10;
  background-color: #FFFFFF;
  border-bottom: 1px solid gray;
}

.container {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
  padding: 10px 50px;
}

.homeLink {
  text-decoration: none;
  display: flex;
  align-items: center;
  color: #000000;
}

.link {
  text-decoration: none;
  color: #000000;
  cursor: pointer;
}

.link:hover {
  font-weight: 700;
}

.logout {
  font-size: 16px;
  padding: 0;
  border: 0;
  background-color: #FFFFFF;
  cursor: pointer;
}

.logout:hover {
  font-weight: 700;
}

.logo {
  width: 32px;
  height: 32px;
  padding-right: 5px;
}

.appName {
  font-family: Quicksand, sans-serif;
  font-size: 1.5rem;
  margin-right: 10px;
}

.gitHubLogo {
  width: 32px;
  height: 32px;
}