.header {
  box-sizing: border-box;
  width: 100%;
  min-height: 60px;
  position: fixed;
  top: 0;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: #FFFFFF;
  border-bottom: 1px solid #808080;
}

.homeLink {
  display: flex;
  align-items: center;
  margin: 0 10px 0 0;
  font-size: 1.40rem;
  font-weight: 600;
  color: #000000;
  text-decoration: none;
}

.logo {
  width: 32px;
  height: 32px;
  margin: 0 2px;
}

.gitHubLogo {
  width: 32px;
  height: 32px;
  margin: 0 10px 0 0;
}

@media screen and (max-width: 905px) {
  .homeLink {
    font-size: 1.20rem;
    align-items: flex-start;
  }

  .logo {
    width: 24px;
    height: 24px;
  }
}

@media screen and (max-width: 855px) {
  .gitHubLogo {
    width: 24px;
    height: 24px;
    position: relative;
    top: 3px;
  }

  .homeLink span {
    display: none;
  }
}

@media screen and (max-width: 600px) {
  .header {
    flex-wrap: wrap;
  }

  .homeLink {
    margin: 5px 10px 0 0;
  }

  .homeLink span {
    display: inline;
  }
}