.errorMessage {
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: center;
  margin: 20px 0;
}

.icon {
  width: 24px;
  height: 24px;
  margin: 0 5px 0 0;
}

@media screen and (max-width: 600px) {
  .errorMessage {
    font-size: 0.90rem;
  }

  .icon {
    width: 20px;
    height: 20px;
  }
}