.form {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
}

.submitButtonWithIcon {
  display: flex;
  align-items: center;
  height: 35px;
  margin: 15px 0 10px 0;
  font-family: Poppins, sans-serif;
  font-size: 0.90rem;
  font-weight: 400;
  background-color: #FFFFFF;
  border: 1px solid #808080;
  border-radius: 5px;
  transition: font-weight 0.15s ease-in-out;
}

.submitButtonWithIcon:hover {
  cursor: pointer;
  font-weight: 700;
}

.submitButtonWithIcon:active {
  font-weight: 400;
  transition: none;
}

.icon {
  width: 20px;
  height: 20px;
  margin: 0 5px 0 0;
}

.label {
  margin: 25px 5px 0 5px;
}

.input {
  width: 40px;
  height: 25px;
  margin: 5px 5px 10px 5px;
  text-align: center;
  font-family: Poppins, sans-serif;
  font-size: 1rem;
  border: 1px solid #808080;
  border-radius: 5px;
}

.submitButton {
  width: 120px;
  height: 35px;
  margin: 0 0 10px 0;
  font-family: Poppins, sans-serif;
  font-size: 1rem;
  font-weight: 600;
  background-color: #FFFFFF;
  border: 1px solid #808080;
  border-radius: 50px;
}

.submitButton:hover {
  cursor: pointer;
  color: #FFFFFF;
  background-color: #000000;
  transition: background-color linear 0.20s, color linear 0.20s;
}

.submitButton:active {
  color: #000000;
  background-color: #FFFFFF;
  transition: none;
}

.successMessage {
  margin: 0 5px 5px 5px;
  font-size: 0.90rem;
  text-align: center;
}

.errorMessage {
  color: red;
  margin: 0 5px 5px 5px;
  font-size: 0.90rem;
  text-align: center;
}

.link {
  display: block;
  color: #000000;
  text-decoration: underline;
  margin: 0 5px 10px 5px;
  font-size: 0.85rem;
  text-align: center;
  transition: font-weight 0.15s ease-in-out;
}

.link:hover {
  font-weight: 700;
}

.link:active {
  font-weight: 400;
  transition: none;
}

@media screen and (max-width: 700px) {
  .submitButtonWithIcon {
    height: 30px;
    margin: 10px 0;
    font-size: 0.85rem;
  }

  .label {
    margin: 5px 0 0 0;
    font-size: 0.90rem;
  }

  .input {
    width: 35px;
    font-size: 0.90rem;
    border-radius: 5px;
  }
  
  .submitButton {
    width: 110px;
    height: 30px;
    margin: 0 0 10px 0;
    font-size: 0.90rem;
  }
}