.container {
  width: 80%;
  max-width: 1100px;
  min-height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  border: 1px solid #808080;
  border-radius: 10px;
  background-color: #FFFFFF;
}

.title {
  margin: 5px;
  font-weight: 600;
}

.footer {
  width: 90%;
  margin: 15px 0 5px 0;
  display: flex;
  justify-content: space-around;
}

.button {
  width: 30%;
  max-width: 300px;
  height: 35px;
  font-family: Poppins, sans-serif;
  font-size: 1rem;
  font-weight: 400;
  background-color: #FFFFFF;
  border: 1px solid #808080;
  border-radius: 5px;
}

.button:hover {
  cursor: pointer;
  font-weight: 700;
}

.button:active {
  font-weight: 400;
  transition: none;
}

.link {
  width: 30%;
  max-width: 300px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Poppins, sans-serif;
  font-size: 1rem;
  font-weight: 400;
  color: #000000;
  text-decoration: none;
  border: 1px solid #808080;
  border-radius: 5px;
  transition: font-weight 0.15s ease-in-out;
}

.link:hover {
  font-weight: 700;
}

.link:active {
  font-weight: 400;
  transition: none;
}

.icon {
  width: 24px;
  height: 24px;
  margin: 0 2px 0 0;
}

@media screen and (max-width: 950px) {
  .container {
    width: 95%;
    padding: 10px;
  }

  .footer {
    width: 100%;
  }
}

@media screen and (max-width: 730px) {
  .title {
    font-size: 1.25rem;
  }

  .footer {
    justify-content: center;
  }

  .button {
    box-sizing: content-box;
    width: 190px;
    height: 30px;
    font-size: 0.90rem;
    padding: 0;
    margin: 0 10px;
  }

  .link {
    width: 190px;
    height: 30px;
    margin: 0 10px;
    font-size: 0.90rem;
  }

  .icon {
    width: 20px;
    height: 20px;
  }
}

@media screen and (max-width: 450px) {
  .footer {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .link {
    margin-top: 15px;
  }
}