.container {
  width: 70%;
  min-height: 300px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: flex-start;
}

.errorMessage {
  margin: 10px;
  font-weight: 700;
}

