.link {
  display: flex;
  align-items: center;
  margin: 0 10px 0 0;
  cursor: pointer;
  text-decoration: none;
  color: #000000;
  transition: font-weight 0.15s ease-in-out;
}

.link:hover {
  font-weight: 700;
}

.link:active {
  font-weight: 400;
  transition: none;
}

.icon {
  width: 24px;
  height: 24px;
  margin: 0 2px 0 0;
}