.container {
  width: 200px;
  min-height: 340px;
  margin: 20px 10px;
  border: 1px solid #808080;
  border-radius: 10px;
  background-color: #FFFFFF;
}

.link {
  display: block;
  text-decoration: none;
  color: #000000;
}

.link:hover {
  text-decoration: underline;
}

.image {
  width: 200px;
  height: 200px;
  border-radius: 10px 10px 0 0;
}

.title {
  font-weight: 400;
  text-align: center;
  margin: 5px;
  transition: font-weight 0.15s ease-in-out;
}

.title:hover {
  font-weight: 600;
}

.title:active {
  font-weight: 400;
  transition: none;
}

.price {
  text-align: center;
  margin: 5px;
}

.inStock {
  text-align: center;
  margin: 23px;
  color: red;
}