.section {
  width: 100%;
  max-width: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  padding: 20px;
  border: 1px solid #808080;
  border-radius: 10px;
  background-color: #FFFFFF;
}

.title {
  margin: 5px;
  font-weight: 600;
}

.successMessage {
  font-size: 20px;
  font-weight: 600;
  margin: 20px 0;
}

.redirectMessage {
  margin: 10px;
}

.registerMessage {
  margin: 0;
}

.link {
  color: #000000;
  transition: font-weight 0.15s ease-in-out;
}

.link:hover {
  font-weight: 700;
}

.link:active {
  font-weight: 400;
  transition: none;
}